.card-container {
    margin-bottom: 30px;
}

.card-container .card-img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: transform .5s;
}

.card-container .card-img:hover {
    transform: scale(1.015);
}

.card-caption {
    width: 340px;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
}

.caption-text {
    margin-left: 15px;
}

.favIcon {
    display: flex;
    margin-top: 15px;
}